{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>RSA Demo</title>
        <link rel="stylesheet" href="{% static 'rsa/style.css' %}">
        <script src="{% static 'rsa/main.js' %}" defer></script>
    </head>
    <body data-max-input="{{ max_input }}">
         <script>
            const MAX_INPUT = parseInt(document.body.dataset.maxInput);
            const RSA_GENERATE_URL = "{% url 'rsa-generate' %}";
            const RSA_ENCRYPT_URL = "{% url 'rsa-encrypt' %}";
            const RSA_DECRYPT_URL = "{% url 'rsa-decrypt' %}";
        </script>
        <h2>Key Generation</h2>
        <label>Prime 1 <input id="p" type="number" min="2" max="{{ max_input }}"></label>
        <label>Prime 2 <input id="q" type="number" min="2" max="{{ max_input }}"></label>
        <button id="genBtn">Generate keys</button>

        <div id="keyArea" style="display:none;">
            <table>
                <tr>
                    <th>n</th>
                    <th>m</th>
                    <th>e</th>
                    <th>d</th>
                </tr>
                <tr>
                    <td id="nVal"></td>
                    <td id="mVal"></td>
                    <td id="eVal"></td>
                    <td id="dVal"></td>
                </tr>
            </table>
            <p>Public Key (<span id="pubE"></span>, <span id="pubN"></span>)</p>
            <p>Private Key (<span id="privD"></span>, <span id="privN"></span>)</p>
        </div>

        <h2>Encryption</h2>
        <label>E <input id="E" type="number" min="0" max="{{ max_input }}"></label>
        <label>N <input id="N" type="number" min="0" max="{{ max_input }}"></label>
        <label>Message <input id="M" type="number" min="0" max="{{ max_input }}"></label>
        <button id="encBtn">Encrypt</button>
        <p>Ciphertext <span id="CVal"></span></p>

        <h2>Decryption</h2>
        <label>Ciphertext <input id="C" type="number" min="0" max="{{ max_input }}"></label>
        <button id="decBtn">Decrypt</button>
        <p>Recovered Message <span id="RVal"></span></p>

        <div id="expArea" style="display: None;">
            <p>Notice that the decrypted ciphertext equals your original message.</p>
            <p>
                What you just saw was the fundamental idea behind RSA, a revolutionary
                public-key crytography system that is widely in use today.
                The entire concept of RSA encryption revolves around the fact that
                numbers are hard to factor.
            </p>
            <p>
                You can try this with a friend. Find two primes, and hide the private key.
                If they have the public key, share it to a friend, and they can encrypt a
                a message for you. Only you will be able to decrypt the message.
            </p>
        </div>
    </body>
</html>
